*{box-sizing: border-box;}

body {
  background-color: rgb (251,249,241)
  color: white;
  padding: 200px;
  text-align: left;
  line-height: 1.25;
  font-family: Georgia, Geneva, serif;
  margin-top: 20px;
}

div {
  background-color: rgb (251,249,241;
}

h1 {
  text-align: left;
}

h2 {
  font-size: 34px
}

div {
  text-align: left
}
